.banner {
    width: 100%;
    overflow: hidden;
    display: block;

    img {
        display: block;
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
    }
}

.banner-item {
    width: 100%;
    min-height: 300px;
    background-size: 50% auto;
    background-repeat: no-repeat;
    background-position: right center;
    display: flex;
    position: relative;

    .banner-content {
        margin: auto 0;
        padding: 0 35px;
        color: var(--white-color);
        z-index: 2;

    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 0;
        transition: all ease 0.5s;
        opacity: 0;
        filter: alpha(opacity=100);
    }
}

.banner-title {
    font-size: 2.4rem;
    margin: 0;
    line-height: normal;
    padding-bottom: 10px;
    padding-top: 10px;
    color: var(--white-color);
    transition: all ease 0.5s;

    &:hover {
        color: var(--primary-color);
    }
}

.banner-slogan {
    font-size: 1.4rem;
    line-height: 1.7;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    border-radius: 5px;
    height: 45px;
    line-height: 45px;
    margin-bottom: 10px;
    background: #27272f;
    color: var(--white-color);
    font-size: 1.4rem;
    padding: 0 20px;
    transition: all ease 0.5s;

    &:hover {
        background-color: var(--primary-color);
    }
}

@media (min-width: 740px) {
    .banner {
        width: 100%;

    }

    .banner-item {
        width: 50%;
    }
}

@media screen and (min-width: 740px) and (max-width: 1023px) {
    .banner {
        height: 350px;
    }

}



@media (min-width: 1024px) and (max-width: 1239px) {
    .banner {
        height: 455px;
    }

}

@media (min-width: 1240px) {
    .banner {
        height: 680px;

        .banner-content {
            padding: 0 70px;
        }
    }

    .banner-item {
        width: 25%;
    }
}