.search-block {
    width: 250px;
    height: 40px;
    background: var(--bg-color);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    input {
        display: block;
        height: 100%;
        width: 210px;
        border: none;
        outline: none;
        padding: 10px 0 10px 15px;
        background-color: transparent;
        font-size: 1.6rem;
        color: var(--white-color);

        &::placeholder {
            color: var(--white-color);
            font-size: 1.6rem;
        }
    }

    button {
        height: 40px;
        width: 40px;
        font-size: 1.6rem;
        border: none;
        outline: none;
        background-color: transparent;
        color: var(--white-color);
        cursor: pointer;
    }
}