.sub-banner {
    display: flex;
    flex-wrap: wrap;
}

.about {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;

    .about-section {
        overflow: hidden;
    }

    .about-slogan {
        padding: 0;
        margin-top: 15px;
        text-align: center;
        color: #8b8b99;
    }
}

.about-service {
    margin-top: 45px;

    transition: all linear;
}

.list-product {
    text-align: center;
    padding: 20px 0;
}

.list-options {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;

    li {
        line-height: 36px;
        margin: 0 10px;
        padding: 0 18px;
        font-size: 1.3rem;
        font-weight: 400;
        cursor: pointer;
        color: var(--text-color);
        border: 1px solid #e7e9f3;
        border-radius: 30px;
        transition: all ease-out 0.2s;
        margin-bottom: 10px;

        &:hover {
            border-color: var(--primary-color);
            background-color: var(--primary-color);
            color: var(--white-color);
        }
    }
}

.product-kind {
    padding-top: 20px;
}

.hot-line {
    background-image: url(https://bizweb.dktcdn.net/100/350/980/themes/802125/assets/bg_hotline.jpg?1658680172137);
    margin: 30px 0;
    background-repeat: no-repeat;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 360px;
    color: var(--white-color);

    .hot-line__title {
        font-size: 2.8rem;
        margin-top: 20px;
        margin-bottom: 10px;
        font-weight: 500;
    }

    a {
        font-size: 3.6rem;
        font-weight: bold;
        color: var(--white-color);
        transition: all 150ms ease-in-out;

        &:hover {
            color: var(--primary-color);
        }
    }

    .hot-line__slogan {
        margin: 0 0 15px 0;
        margin: 0 auto;
    }
}

.products-hot {
    text-align: center;
    padding: 40px 0;
}

.blogs {
    overflow: hidden;
    white-space: nowrap;
}

.blogs-section,
.top-brands__section {
    padding: 40px 0;
    overflow: hidden;
}

.about-service,
.list-brands {
    overflow: hidden;
}

.active {
    background-color: var(--primary-color) !important;
    color: var(--white-color) !important;
}

@media (min-width: 740px) {
    .about-service {
        overflow: unset;
    }

    .about-slogan {
        padding: 0 150px;
    }

    .list-options {
        li {
            padding: 0 10px;
            margin-bottom: 0;
        }
    }

    .hot-line {
        a {
            font-size: 4.8rem;
        }

        .hot-line__slogan {
            width: 470px;

        }
    }
}