.title {
    display: inline-block;
    position: relative;
    font-size: 2.6rem;
    background: -webkit-linear-gradient(35deg, #91ad41 0%, #ff8a6c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    padding-bottom: 30px;
    transition: all ease 0.5s;
    display: flex;
    justify-content: center;

    .small-img {
        background: url(https://bizweb.dktcdn.net/100/350/980/themes/802125/assets/bg_title.png?1608187967113);
        background-repeat: no-repeat;
        width: 69px;
        height: 22px;
        position: absolute;
        left: 50%;
        bottom: 0px;
        transform: translateX(-50%);
    }
}

.link {
    &:hover {
        background: var(--primary-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@media (min-width: 740px) {
    .title {
        font-size: 3.4rem;
    }
}