.blog-item {
    text-align: center;
    background-color: #f5f6fb;
    border-radius: 2px;
    overflow: hidden;
    transition: all ease-in-out 0.2s;
    box-shadow: 0 0 2px rgba(0,0,0,0.1);
    margin: 15px 0;
    &:hover{
        box-shadow: 0 0 12px rgba(0,0,0,0.3);
    }
    .blog-img {
        width: 100%;
        height: 290px;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        cursor: pointer;
    }

    .blog-time {
        background: #fff;
        opacity: 0.95;
        padding: 10px 20px 8px 20px;
        font-size: 1.2rem;
        width: 100%;
        color: #707070;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;

        .blog-date {
            margin-right: 10px;
            display: flex;
            align-items: center;
        }

        .primary-color {
            color: var(--primary-color);
            font-weight: 600;
        }

        .icon {
            margin-right: 5px;
        }
    }

    .blog-title {
        font-size: 1.6rem;
        font-weight: 600;
        color: var(--text-color);
        cursor: pointer;
        white-space: initial !important;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        &:hover{
            color:var(--primary-color);
        }
    }
    .blog-infor{
        padding: 25px;
    }
    .blog-content {
        padding-top:10px;
        white-space: initial !important;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        user-select: none;
        -webkit-user-select: none;
    }
}

@media (min-width: 740px) {
    .blog-item{
        .blog-img{
            height: 320px;
        }
    }
}